@media (max-width: 767px) {
    .x .c1-j {
        padding-top: 0px
    }
}

@media (max-width: 767px) {
    .x .c1-k {
        padding-bottom: 0px
    }
}

@media (max-width: 767px) {
    .x .c1-2k {
        width: 100%
    }
}

@media (max-width: 767px) {
    .x .c1-2l {
        display: flex
    }
}

@media (max-width: 767px) {
    .x .c1-2m {
        justify-content: center
    }
}

@media (max-width: 767px) {
    .x .c1-33 {
        max-width: 224px
    }
}

@media (max-width: 767px) {
    .x .c1-34 {
        display: block
    }
}

@media (max-width: 767px) {
    .x .c1-35 {
        max-height: 80px
    }
}

@media (max-width: 767px) {
    .x .c1-36 {
        margin-top: 0
    }
}

@media (max-width: 767px) {
    .x .c1-37 {
        margin-right: auto
    }
}

@media (max-width: 767px) {
    .x .c1-38 {
        margin-bottom: 0
    }
}

@media (max-width: 767px) {
    .x .c1-39 {
        margin-left: auto
    }
}

@media (max-width: 767px) {
    .x .c1-3a {
        height: auto
    }
}

@media (max-width: 767px) {
    .x .c1-5i {
        font-weight: 400
    }
}

@media (max-width: 767px) {
    .x .c1-7w {
        padding-top: 40px
    }
}

@media (max-width: 767px) {
    .x .c1-7x {
        padding-bottom: 40px
    }
}

@media (max-width: 767px) {
    .x .c1-8c> :nth-child(n) {
        margin-bottom: 24px
    }
}

@media (max-width: 767px) {
    .x .c1-8d> :last-child {
        margin-bottom: 0 !important
    }
}

@media (max-width: 767px) {
    .x .c1-b0 {
        padding-bottom: 32px
    }
}

@media (max-width: 767px) {
    .x .c1-b3 {
        flex-direction: column
    }
}

@media (max-width: 767px) {
    .x .c1-bb {
        padding-top: 2px
    }
}

@media (max-width: 767px) {
    .x .c1-bc {
        padding-bottom: 2px
    }
}

@media (max-width: 767px) {
    .x .c1-bd {
        padding-right: 2px
    }
}

@media (max-width: 767px) {
    .x .c1-be {
        padding-left: 2px
    }
}