@media (min-width: 1024px) {
    .x .c1-e {
        font-size: 16px
    }
}

@media (min-width: 1024px) {
    .x .c1-s {
        width: 984px
    }
}

@media (min-width: 1024px) {
    .x .c1-t {
        padding-top: 24px
    }
}

@media (min-width: 1024px) {
    .x .c1-u {
        padding-bottom: 24px
    }
}

@media (min-width: 1024px) {
    .x .c1-z {
        display: none
    }
}

@media (min-width: 1024px) {
    .x .c1-2p {
        font-size: 19px
    }
}

@media (min-width: 1024px) {
    .x .c1-3h {
        height: 92px
    }
}

@media (min-width: 1024px) {
    .x .c1-3i {
        width: auto
    }
}

@media (min-width: 1024px) {
    .x .c1-3j {
        max-height: 92px
    }
}

@media (min-width: 1024px) {
    .x .c1-3l {
        display: block
    }
}

@media (min-width: 1024px) {
    .x .c1-3s {
        display: flex
    }
}

@media (min-width: 1024px) {
    .x .c1-4l {
        top: 80px
    }
}

@media (min-width: 1024px) {
    .x .c1-4m {
        left: unset
    }
}

@media (min-width: 1024px) {
    .x .c1-4n {
        right: 40px
    }
}

@media (min-width: 1024px) {
    .x .c1-4o {
        font-size: 30px
    }
}

@media (min-width: 1024px) {
    .x .c1-4t {
        padding-top: 72px
    }
}

@media (min-width: 1024px) {
    .x .c1-5k {
        min-width: 300px
    }
}

@media (min-width: 1024px) {
    .x .c1-5l {
        padding-left: 56px
    }
}

@media (min-width: 1024px) {
    .x .c1-5m {
        font-size: 22px
    }
}

@media (min-width: 1024px) {
    .x .c1-5v {
        padding-top: 56px
    }
}

@media (min-width: 1024px) {
    .x .c1-5w {
        padding-bottom: 56px
    }
}

@media (min-width: 1024px) {
    .x .c1-66 {
        font-size: 14px
    }
}

@media (min-width: 1024px) {
    .x .c1-6b {
        font-size: 12px
    }
}

@media (min-width: 1024px) {
    .x .c1-7p {
        font-size: 26px
    }
}

@media (min-width: 1024px) {
    .x .c1-7t>div {
        max-width: 984px
    }
}

@media (min-width: 1024px) {
    .x .c1-87 {
        margin-left: 16.666666666666664%
    }
}

@media (min-width: 1024px) {
    .x .c1-88 {
        flex-basis: 66.66666666666666%
    }
}

@media (min-width: 1024px) {
    .x .c1-89 {
        max-width: 66.66666666666666%
    }
}

@media (min-width: 1024px) {
    .x .c1-8g {
        font-size: 18px
    }
}

@media (min-width: 1024px) {
    .x .c1-9e {
        margin-bottom: 0
    }
}

@media (min-width: 1024px) {
    .x .c1-9m {
        margin-top: 0
    }
}

@media (min-width: 1024px) {
    .x .c1-9n {
        align-items: center
    }
}

@media (min-width: 1024px) {
    .x .c1-9o {
        margin-right: 24px
    }
}

@media (min-width: 1024px) {
    .x .c1-as {
        width: 48px
    }
}

@media (min-width: 1024px) {
    .x .c1-at {
        height: 48px
    }
}

@media (min-width: 1024px) {
    .x .c1-au {
        margin-left: 24px
    }
}

@media (min-width: 1024px) {
    .x .c1-av {
        padding-top: 0px
    }
}

@media (min-width: 1024px) {
    .x .c1-aw {
        padding-right: 0px
    }
}

@media (min-width: 1024px) {
    .x .c1-ax {
        padding-bottom: 0px
    }
}

@media (min-width: 1024px) {
    .x .c1-ay {
        padding-left: 0px
    }
}

@media (min-width: 1024px) {
    .x .c1-bg {
        flex-basis: 0%
    }
}

@media (min-width: 1024px) {
    .x .c1-bh {
        max-width: none
    }
}

@media (min-width: 1024px) {
    .x .c1-bj {
        text-align: left
    }
}

@media (min-width: 1024px) {
    .x .c1-bl {
        text-align: right
    }
}

@media (min-width: 1024px) {
    .x .c1-br {
        z-index: 9999
    }
}