@media (min-width: 768px) {
    .x .c1-d {
        font-size: 16px
    }
}

@media (min-width: 768px) {
    .x .c1-r {
        width: 100%
    }
}

@media (min-width: 768px) {
    .x .c1-19 {
        margin-top: 0
    }
}

@media (min-width: 768px) {
    .x .c1-1a {
        margin-right: -24px
    }
}

@media (min-width: 768px) {
    .x .c1-1b {
        margin-bottom: 0
    }
}

@media (min-width: 768px) {
    .x .c1-1c {
        margin-left: -24px
    }
}

@media (min-width: 768px) {
    .x .c1-1l {
        padding-top: 0
    }
}

@media (min-width: 768px) {
    .x .c1-1m {
        padding-right: 24px
    }
}

@media (min-width: 768px) {
    .x .c1-1n {
        padding-bottom: 0
    }
}

@media (min-width: 768px) {
    .x .c1-1o {
        padding-left: 24px
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-2n {
        width: 100%
    }
}

@media (min-width: 768px) {
    .x .c1-2o {
        font-size: 19px
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-3b {
        display: block
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-3c {
        max-height: 80px
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-3d {
        margin-top: 0
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-3e {
        margin-right: auto
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-3f {
        margin-bottom: 0
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .x .c1-3g {
        margin-left: auto
    }
}

@media (min-width: 768px) {
    .x .c1-4k {
        font-size: 30px
    }
}

@media (min-width: 768px) {
    .x .c1-5j {
        font-size: 22px
    }
}

@media (min-width: 768px) {
    .x .c1-65 {
        font-size: 14px
    }
}

@media (min-width: 768px) {
    .x .c1-6a {
        font-size: 12px
    }
}

@media (min-width: 768px) {
    .x .c1-7n {
        width: auto
    }
}

@media (min-width: 768px) {
    .x .c1-7o {
        font-size: 26px
    }
}

@media (min-width: 768px) {
    .x .c1-7s>div {
        max-width: 100%
    }
}

@media (min-width: 768px) {
    .x .c1-84 {
        margin-left: 8.333333333333332%
    }
}

@media (min-width: 768px) {
    .x .c1-85 {
        flex-basis: 83.33333333333334%
    }
}

@media (min-width: 768px) {
    .x .c1-86 {
        max-width: 83.33333333333334%
    }
}

@media (min-width: 768px) {
    .x .c1-8f {
        font-size: 18px
    }
}

@media (min-width: 768px) {
    .x .c1-9p {
        flex-direction: row
    }
}

@media (min-width: 768px) {
    .x .c1-9r {
        margin-top: 4px
    }
}

@media (min-width: 768px) {
    .x .c1-9s {
        margin-bottom: 4px
    }
}

@media (min-width: 768px) {
    .x .c1-9t {
        margin-right: 24px
    }
}

@media (min-width: 768px) {
    .x .c1-9u {
        height: 100%
    }
}

@media (min-width: 768px) {
    .x .c1-ak {
        max-width: 30%
    }
}

@media (min-width: 768px) {
    .x .c1-aq {
        margin-left: 16px
    }
}

@media (min-width: 768px) {
    .x .c1-ar {
        margin-right: 16px
    }
}